<article *ngFor="let pysakki of reittiTaulukko">

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>

                <h2>
                    {{pysakki.name}} {{pysakki.code}}
                </h2>

            </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row">
            <div fxFlex="30">

                <mat-list>
                    <mat-list-item *ngFor="let reitti of pysakki.patterns">
                        <span
                                [class]="reitti.directionId | directionClass"><mat-icon>{{reitti.directionId | routeDirection}}</mat-icon>
                        </span>
                        {{reitti.name}}
                    </mat-list-item>
                </mat-list>
            </div>
            <div fxFlex="70" class="map">


                <agm-map [latitude]="pysakki.lat" [longitude]="pysakki.lon" [zoom]="15">
                    <agm-marker [latitude]="pysakki.lat" [longitude]="pysakki.lon"></agm-marker>
                </agm-map>
            </div>

        </div>
    </mat-expansion-panel>
</article>